body{
    background-color: #38e1d7;
}
/* Navigation Bar */

  .navbar-brand {
    font-family: "Ubuntu";
    font-size: 1.8rem;
    font-weight: bold;
    margin-left: 2rem;
  }
  .navbar{
  background-color: #38e1d7;
  }
  .offcanvas-body{
    padding: 0;
  }
  
  .nav-link {
    font-size: 1rem;
    font-family: "Montserrat";
    color: white !important;
    padding-left: 2rem;
  }
.active{
  background-color: #38e1d7;
}
  .btn-primary{
    margin-top: 4px;
  }
  
  /* Content */
  #bills{
    margin-top: 4rem;
  }

  .card{
    margin-top: 2rem;
    padding: 2rem;
    padding-bottom: 3rem;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.11), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  }
  .card:hover{
    box-shadow: black;
  }
  .amt{
    font-size: 18px;
    font-weight: 500;
    color: #2d2d2d;
  }
  /* Profile */
  .hello{
    margin-top: 2rem;
    color: #2d2d2d;
    text-align: left;
  }
  
  .chart-container {
    width: 80%;
    height: 80%;
    margin: auto;
  }
  #chart{
    height: 200px;
    width: 200px;
  }
  .chart-container1 {
    width: 50%;
    height: 50%;
    margin: auto;
  }