body{
    background-color: #38e1d7;
  }
  .card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-bottom: 3rem;
  
  }
  .circle{
    border-radius: 100%;
    background-color: #38e1d7;
    height: 160px;
    width: 160px;
    margin: 2rem auto;
    position: absolute;
    top: 90px;
    right: 35%;
    border: solid 4px white;
  }
  #display-image{
    height: 160px;
    width: 160px;
    background-position: center;
    background-size: contain;
  }
  .user-img{
    padding-top: 4px;
  }
  
  .detail-item{
    background-color: #f3f3f3;
    border-radius: 5px;
    margin: 10px auto;
    text-align: left;
    /* padding: 4px; */
  }
  .card{
    padding: 0;
  }
  .bg{
    height: 200px;
    background-repeat: no-repeat;
    background-image: url("../images/blur-bg.jpg");
    background-size: 700px;
    border-radius: 5px 5px 0 0;
  }
  .hello{
    margin-top: 5.5rem;
  }
  .row{
    margin: 0 2% 2%;
  }

  /* Profile Image */

  .file-upload {
    display: none;
}
.fa{
  font-size: 1.8rem;
    color: #069b92;
}
  .p-image {
    position: absolute;
    top: 250px;
    right: 30px;
    color: #1f8982;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  }
  .p-image:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  }
  .upload-button {
    font-size: 1.2em;
  }
  
  .upload-button:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    color: #1f8982;
  }